body,
main {
    min-height: 100vh;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    margin-right: 2rem;
    border: 2px solid white;
    color: white;
   font-size: 4rem;
}

.body{
    background-image: url(image/play.jpg);
    background-size: cover; 
}